body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.intro {
  height: 100vh;
  background: linear-gradient(to bottom, #f9e07f 33%, #f7c948 67%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.letras {
  display: flex;
  gap: 50px;
}

.letra {
  font-size: 5rem;
  font-weight: bold;
  padding: 20px;
  animation: fadeIn 1s ease-in-out, bounce 0.6s ease;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Colores personalizados */
.m { background-color: red; color: black; animation-delay: 0.5s; width: 70px; height: 70px}
.e { background-color: #f9e07f 33%, #f7c948 67%; color: black; animation-delay: 0.2s; width: 20px; height: 40px }
.r { background-color: purple; color: white; animation-delay: 0.4s; width: 10px; height: 10px }
.c { background-color: orange; color: black; animation-delay: 0.3s; width: 60px; height: 60px  }
.a { background-color: #f9e07f 33%, #f7c948 67%; color: goldenrod; animation-delay: 0.5s;}
.d { background-color: blue; color: black; animation-delay: 0.1s;width: 3px; height: 3px  }
.o { background-color: lightgreen; color: black; animation-delay: 0s; width: 45px; height: 45px  }
.t { background-color: rgb(238, 238, 148); color: goldenrod; animation-delay: 0.1s; width: 0px; height: 0px }
.E { background-color: blue; color: black; animation-delay: 0.3s; width: 60px; height: 60px  }
.C { background-color: #f9e07f 33%, #f7c948 67%; color: goldenrod; animation-delay: 0.4s;  }
.n { background-color: purple; color: black; animation-delay: 0.5s;width: 50px; height: 20px; }
.i { background-color: rgb(129, 170, 167); color: goldenrod; animation-delay: 0.5s; width: 10px; height: 10px  }
.A { background-color: rgb(81, 38, 199); color: goldenrod; animation-delay: 0.6s; width: 80px; height: 80px  }

@keyframes fadeIn {
  to { opacity: 1; transform: scale(1.1); }
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.main-content {
  display: none;
  padding: 40px;
  text-align: center;
}